profiles {

  standard {
    docker.enabled = true
    docker.runOptions = '-u $(id -u):$(id -g)'

    process.executor = 'local'
    process.cpus = 4
    process.memory = '8 GB'
  }

  aws {
    // 1. Enable Wave and Fusion services
    wave.enabled = true
    fusion.enabled = true

    // 2. Allow Nextflow to manage the container engine architecture for AWS Batch
    docker.enabled = true

    process.scratch = false

    process.executor = 'awsbatch'
    process.queue = 'RNAqueue'

    process.cpus = 8
    process.memory = '32 GB'

    aws {
      region = 'us-east-1'

      client {
        maxConnections = 20
      }
    }

    workDir = 's3://stb1132-rnaseq-workdir/work'
    publishDir = s3://stb1132-rnaseq-workdir/results'
  }

}
